.content {
    padding: 20px 50px;
  
    height: 100%;
  
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        margin-top: 5.4rem;
        text-align: center;
      }
  
    }
  
    
    #text-description {
      display: flex;
      align-items: center;
      justify-content: center;
  
      margin-top: 1.4rem;
      text-align: center;
  
      b {
        font-family: 'Space Grotesk', sans-serif;
        font-size: xx-large;
      }
  
      #logo-gov {
  
        margin-left: 55px;
      }
    }
  
    .form {
      margin-top: 4rem;

      #background {

        background-image: url("../../../../assets/img/hacka/mapa-1.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
  
      .form-group {
  
        display: block;
  
        width: 100%;
  
        label {
  
          display: block;
  
          font-family: 'Space Grotesk', sans-serif;
          font-size: 20px;
  
          margin-bottom: .2rem;
        }
  
        input {
          font-size: 20px;
  
          padding: 15px 20px;
          border-radius: 8px;
  
          border: 1px solid #8B8B8B;
          outline: none;
  
          width: 100%;
  
        }
  
        &:not(:last-child) {
          margin-bottom: 1rem;
  
        }
  
      }
  
      .submit {
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        width: 100%;
  
        button {
          width: 100%;
          padding: 15px;
          background-color: #F48C06;
  
          font-size: 20px;
          border-radius: 10px;
  
          font-weight: 500;
  
          color: #fff;
  
          margin-left: auto;
          margin-right: auto;
        }
  
      }
  
    }
  
  }